<!-- Receive templateVars and display that -->
<!-- Needs button that submits order (/:orderId, POST)-->


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <!-- Google font -->
 

  <!-- External JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <%- include('partials/_header') %>
    <main>
      
      
      <a href="./items">←</a>
      <h2>Cart</h2>
      
      <section class='cart-all-items'>
        <% for(let item of items) { %>
          <article class="cart-item">
            <div class='cart-item-pic'>
              <img src='<%= item.photo_url %>'></img>
            </div>
            <div class='cart-item-info'>
              <h3 class='cart-item-info'><%= item.name %></h3>
              <h4>Quantity: <span class='cart-item-quantity'><%= item.quantity %></span></h4>
              <h4>Price: <span class='cart-item-price'>$<%= item.total / 100 %></span>
            </div>
          </article>
      <% } %>
      </section class='cart-total-price'>
    
      <section>
        <h3>Cart total: <span class="cart-total-price">$<%= total / 100 %></span></h3>
      </section>

    </main>

    <footer>
      <form action="/orders/<%= orderId %>" method="post">
        <button type="submit">Checkout</button>
      </form>
    </footer>

  </body>
</html>