<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <!-- Google font -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">

  <!-- External JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/index.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <%- include('partials/_header') %>
    <header class="caesars">
      <div class="caesar1">
        <img src="./images/01_classic.png">
      </div>
      <div class="caesar2">
        <img src="./images/02_strange_brew.png">
      </div>
      <div class="caesar3">
        <img src="./images/03_the_charr.png">
      </div>
      <div class="caesar4">
        <img src="./images/04_the_everything.png">
      </div>
      <div class="caesar5">
        <img src="./images/05_the_game_night.png">
      </div>
      <div class="caesar6">
        <img src="./images/06_the_family_meal.png">
      </div>
    </header>

    <main class="index-main">
      <!-- All the pictures are loaded here -->
    <h2>Our Caesars</h2>
     <!-- form action method maybe to send the quatity to js? -->
     <form id="hidden-form" action='/cart' method='POST'>
      <div id="for-loop"><% for(let item of items) { %>
      <article class="open-card">
        <div class='item-header'>
          <label for="item-name"><%= item.name %></label>
          <div class="item-price">$ <div class="actual-price"><%= item.price / 100 %></div></div>
        </div>
        <!-- Wrap lines 42-47 in another container -->
        <div class="collapsible">
        <p class="item-description"><%= item.description %></p>
        <!-- <form method="post" action="/cart"> -->
          <div class="quantity">
            <div class="dec button">-</div>
            <input type="text" name="<%= item.id %>" class="amount" value="0">
            <div class="inc button">+</div>
          </div>
        </div>
          <!-- <div class='space'></div> -->
        <!-- </form> -->
        <!-- <div class='itemTotalPriceTest'>0</div> -->
        <div class='item-id'><%= item.id %></div>
      </article>
    <% } %></div>
    <div class="space"> </div>
      <button type="submit" class="view-cart">View Cart ($ <div id='itemTotalPrice'>0</div>)</button>
    </form>
    </main>
  </body>
</html>
