<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <!-- External JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <%- include('partials/_header') %>
    <main style="margin: 1em;">
    <h1>Base Caesars</h1>

    <article>
      <% for(let item of items) { %>
        <!-- <div class="item-name"><%= item.name %></div> -->
        <div>
          <label for="item-name"><%= item.name %></label>
          <input type="text" name="item-name" id="item-name" value="0">
        </div>
        <div class="item-price"><%= item.price %></div>
        <p class="item-description"><%= item.description %></p>
        <!-- <ul>
          <li><%= item.name %></li>
          <li><%= item.price %></li>
          <li><%= item.description %></li>
          <img src='<%= item.photo_url %>'> -->
          <!-- <li><%= item.description %></li> -->

        <!-- </ul> -->
        <form method="post" action="">
          <input type="submit" value="Submit" id="submit">
        </form>
      <% } %>
  </article>
  </main>
  </body>
</html>
