<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <!-- Google font -->


  <!-- External JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <title>Cart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">

    <!-- External JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

      <title>Home Page</title>

      <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
      <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
      <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
      <link rel="stylesheet" href="/styles/cart.css" type="text/css" />

      <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
      <script type="text/javascript" src="/scripts/app.js"></script>
    </head>

  <body>
    <%- include('partials/_header') %>
    <main class='main-common'>

      <h2>Order history</h2>


      <% if(userType === 'customer'){ %>
        <% for(let order of orders) { %>
        <section>
          <h3>Order ID: <span><a href="/orders/customer/<%= order.id %>"><%= order.id %> -- Order Detail</a></span> </h3>
          <h3>Order status: <span><%= order.status %></span></h3>
          <h4>Order Placed at: <span><%= order.created_at %></span></h4>
        </section>
        <% } %>
        <footer>
          <form action="/items" method="get">
            <button type="submit"  class="view-cart">New Order</button>
          </form>
        </footer>

      <% } else{ %>
        <% for(let order of orders) { %>
        <section>
          <h3>Order id: <span><%= order.id %></span></h3>
          <h3>Order status: <span><%= order.status %></span></h3>
          <h4>Created at: <span><%= order.created_at %></span></h4>
          <form action="/orders/restaurant/<%= order.id %>" method="get">
            <button type="submit" class="btn btn-primary" >Order Detail</button>
          </form>
        </section>
        <% } %>

     <% } %>
    </main>
    <footer>
   </footer>

  </body>
</html>
